body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 40%;
    border-collapse: collapse;
    position: relative;
    table-layout: fixed;
}

td {
    border: 1px solid black;
}

.rotate-left {
    transform: rotate(-45deg);
}

.black {
    background-color: black;
}

.brick {
    background-image: url("../img/brick.svg");
    background-size: cover;
}

.metal {
    background-image: url("../img/metal.svg");
    background-size: cover;
}

.grass {
    background-image: url("../img/grass.svg");
    background-size: cover;
}

.water {
    background-image: url("../img/water.svg");
    background-size: cover;
}




