body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 40%;
    border-collapse: collapse;
    position: relative;
}

td {
    border: 1px solid black;
}

.rotate-left {
    transform: rotate(-45deg);
}

.black {
    background-color: black;
}



