body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

table {
    width: 40%;
    border-collapse: collapse;
    position: relative;
    table-layout: fixed;
    background-color: black;
    z-index: -1;
    margin: 0 auto;
}

td {
    /*border: 1px solid black;*/
}

.rotate-left {
    transform: rotate(-45deg);
}

.black {
    background-color: black;
}

.brick {
    background-image: url("../img/brick.svg");
    background-size: cover;
}

.metal {
    background-image: url("../img/metal.svg");
    background-size: cover;
}

.grass {
    background-image: url("../img/grass.svg");
    background-size: cover;
}

.water {
    background-image: url("../img/water.svg");
    background-size: cover;
}

.bang {
    background-image: url("../img/bang.png")!important;
    background-size: cover!important;
    border-radius: 0!important;
}

button {
    width: 200px;
    position: absolute;
    right: calc(50% - 100px);
    bottom: 3%;
    cursor: pointer;
    outline: none;
}

#screen {
    height: 70%; color: blue; font-size: 70px;
}

#screen td {
    text-align: center;
}

.mobile_touch {
    top: 50%;
    right: 5%;
    width: 10%;
    height: 5%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 999;
}

.mobile_touch div {
    margin-top: 10px;
    background-color: cadetblue;
    text-align: center;
    display: none;
}

#top {
    width: 100%;
}

#left, #right {
    width: 55%;
    height: 61%;
}

#left {
    position: relative;
    right: 40%;
}

#right {
    position: relative;
    left: 100%;
    top: -32%;
}

#bottom {
    width: 100%;
}

#fire {
    display: inline-block;
    line-height: 60px;
    background-color: red;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 100px;
    right: 80vw;
    border-radius: 50%;
    z-index: 999;
}

.wrapper {
    width: 100%;
}

#fire {
    display: none;
}

@media screen and (max-width: 1000px) {
    .mobile_touch {
        height: 70px;
        display: block;
    }

    .mobile_touch div {
        display: block;
    }
    #fire {
        display: block;
    }
    table {
        width: 100vw;
        height: 100vh;
    }

}






